<!DOCTYPE html>
<html>
  <head>
    <title>Frontend</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <%= render 'layouts/header' %>
      <%= render 'layouts/drawer' %>
      <main class="mdl-layout__content">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <div class="page-content"><%= yield %></div>
      </main>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
